.hero-container {
  width: 100%;
  height: 100vh;
  background-image: url(https://cdn.asiatatler.com/asiatatler/i/my/2018/11/05112559-entier-scottish-cured-salmon_cover_1920x1200.jpg);
  background-size: cover;
  background-position: top right;
  position: relative;
}

.bg-screener {
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.1);
}

.hero-captions {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.primary-heading {
  font-size: 3rem;
  text-shadow: 2px -2px 4px #ccc;
}

.secondary-heading {
  color: #eee;
  font-family: cursive;
}
