.RecipeDetails {
  background-image: linear-gradient(180deg, #fdfdfd, #f7f7f7, #f1f1f1, #e4f1ff);
  padding: 3rem 2rem !important;
  position: relative;
  overflow: hidden;
  filter: opacity(0);
  animation: fadeIn 1s 0.1s linear 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}

.navigation {
  margin-bottom: 3rem;
}

.navigation span {
  display: inline-flex;
  align-items: center;
}

.backBtn {
  font-size: 3rem;
  cursor: pointer;
}

.backBtn:hover {
  transform: scale(1.1);
  color: #87ceeb;
}

.nav-logo {
  font-family: "Lobster", serif;
  text-decoration: underline;
  text-shadow: 1px 1px 5px #333;
  color: #fff;
  transition: all 0.3s 0.1s ease-out;
}

.nav-logo:hover {
  cursor: pointer;
  color: rgb(252, 255, 65);
}

.head-div {
  min-height: 50vh;
}

.ingredients-div-container {
  min-height: 25vh;
}

.ingredients-list {
  padding: 1rem 2rem;
  background-color: rgba(255, 230, 254, 0.5);
  box-shadow: 0px 1rem 5rem 1rem #fff, 4rem -1.1rem 7rem 1.2rem #fff;
}

.head-div .row {
  height: 100%;
}

.head-text-div {
  overflow-y: auto;
}

.details-title {
  font-weight: bold;
}

.description-para {
  max-height: 6rem;
  overflow-y: auto;
  word-wrap: break-word;
}

.decor-icon {
  font-size: 25vh;
  animation: colorSwitch 2s linear infinite;
}

@keyframes colorSwitch {
  0% {
    color: #fc493d;
    transform: rotateY(0deg);
  }
  14% {
    color: #ffa526;
  }
  28% {
    color: #f2ef4b;
  }
  42% {
    color: #6ded42;
  }
  56% {
    color: #4977f5;
  }
  70% {
    color: #493157;
  }
  84% {
    color: #d100ce;
  }
  100% {
    color: #fc493d;
    transform: rotateY(360deg);
  }
}

.prep-steps-list {
  background-color: rgba(237, 252, 255, 0.5);
  background-clip: border-box;
  padding: 1rem;
  box-shadow: -7rem -2.5rem 7rem 1.2rem #fff, 0px -0.5rem 6rem 1rem #fff,
    0px 0.5rem 6rem 1rem #fff;
}
.prep-step {
  margin-top: 2.1rem;
}
.prep-step:first-child {
  margin-top: 0.3rem;
}
.ingredients-list,
.prep-steps-list {
  border-radius: 0.5rem;
}
.prep-steps-tail h6 {
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  font-family: "Lobster", cursive;
  text-shadow: 0 0 0.4rem #8fb6ff;
  color: #fff;
}
.unique-huge {
  font-size: 2rem;
}
.bonappetit-mark {
  user-select: none;
  display: inline-block;
  font-size: 3.5rem;
  font-family: "Open Sans", serif;
  transform: rotateZ(25deg);
  position: relative;
  top: 0.8rem;
  left: 0.5rem;
}

.reviews-container {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
}
.reviewer-img-container {
  width: 3rem;
  height: 3rem;
}
.reviewer-img-container img {
  width: 100%;
  height: 100%;
}
.reviewer-dn {
  font-weight: bold;
}
.reviewer-username:hover {
  text-decoration: underline;
  cursor: pointer;
}
.reviewer-rating,
.reviewer-text {
  margin-top: 0.5rem;
}

.col-12 h2 {
  text-shadow: 0rem 0rem 0.5rem #fff;
}
