.RecipeDetails {
  background-image: linear-gradient(180deg, #fdfdfd, #f7f7f7, #f1f1f1, #e4f1ff);
  padding: 3rem 2rem !important;
  position: relative;
  overflow: hidden;
  filter: opacity(0);
  animation: fadeIn 0.8s 0.2s linear 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}

.navigation {
  margin-bottom: 3rem;
}

.navigation span {
  display: inline-flex;
  align-items: center;
}

.backBtn {
  font-size: 3rem;
  cursor: pointer;
}

.backBtn:hover {
  transform: scale(1.1);
  color: #87ceeb;
}

.nav-logo {
  font-family: "Lobster", serif;
  text-decoration: underline;
  text-shadow: 1px 1px 5px #333;
  color: #fff;
  transition: all 0.3s 0.1s ease-out;
}

.nav-logo:hover {
  cursor: pointer;
  color: rgb(252, 255, 65);
}

.head-div {
  min-height: 50vh;
}

.ingredients-div-container {
  min-height: 25vh;
}

.ingredients-list {
  padding: 1rem 2rem;
  background-color: rgba(255, 222, 176, 0.5);
}

.head-div .row {
  height: 100%;
}

.head-text-div {
  overflow-y: auto;
}

.details-title {
  font-weight: bold;
}

.description-para {
  max-height: 6rem;
  overflow-y: auto;
  word-wrap: break-word;
}

.decor-icon {
  font-size: 25vh;
  animation: colorSwitch 2s linear infinite;
}

@keyframes colorSwitch {
  0% {
    color: #fc493d;
    transform: rotateY(0deg);
  }
  14% {
    color: #ffa526;
  }
  28% {
    color: #f2ef4b;
  }
  42% {
    color: #6ded42;
  }
  56% {
    color: #4977f5;
  }
  70% {
    color: #493157;
  }
  84% {
    color: #d100ce;
  }
  100% {
    color: #fc493d;
    transform: rotateY(360deg);
  }
}

.prep-steps-list {
  background-color: rgba(195, 229, 188, 0.5);
  background-clip: border-box;
  padding: 1rem;
}

.ingredients-list,
.prep-steps-list {
  border-radius: 0.5rem;
}
