.RecipeDetails {
  background-image: linear-gradient(180deg, #fdfdfd, #f7f7f7, #f1f1f1, #e4f1ff);
  padding: 3rem 2rem !important;
  position: relative;
  overflow: hidden;
  filter: opacity(0);
  animation: fadeIn 0.8s 0.2s linear 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}

.navigation {
  margin-bottom: 3rem;
}

.navigation span {
  display: inline-flex;
  align-items: center;
}

.backBtn {
  font-size: 3rem;
  cursor: pointer;
}

.backBtn:hover {
  transform: scale(1.1);
  color: #87ceeb;
}

.nav-logo {
  font-family: "Lobster", serif;
  text-decoration: underline;
}

.nav-logo:hover {
  cursor: pointer;
  animation: cloudyGLow 1.5s ease-out infinite alternate;
}

@keyframes cloudyGLow {
  0% {
    text-shadow: 2px 0px 5px #87ceeb, -2px 0px 5px #87ceeb, 0px 2px 5px #87ceeb,
      0px -2px 5px #87ceeb;
  }
  35% {
    text-shadow: 4px 0px 8px #87ceeb, -4px 0px 8px #87ceeb, 0px 4px 8px #87ceeb,
      0px -4px 8px #87ceeb;
  }
  70% {
    text-shadow: 6px 0px 10px #87ceeb, -6px 0px 10px #87ceeb,
      0px 6px 10px #87ceeb, 0px -6px 10px #87ceeb;
  }
  100% {
    text-shadow: 8px 0px 12px #87ceeb, -8px 0px 12px #87ceeb,
      0px 8px 12px #87ceeb, 0px -8px 12px #87ceeb;
  }
}

.head-div,
.ingredients-div {
  min-height: 50vh;
}

.head-div .row {
  height: 100%;
}

.head-text-div {
  overflow-y: auto;
}

.details-title {
  font-weight: bold;
}

.description-para {
  max-height: 6rem;
  overflow-y: auto;
  word-wrap: break-word;
}

.ingredients-decor {
  font-size: 25vh;
  animation: colorSwitch 2s linear infinite;
}

@keyframes colorSwitch {
  0% {
    color: #fc493d;
    transform: rotateY(0deg);
  }
  14% {
    color: #ffa526;
  }
  28% {
    color: #f2ef4b;
  }
  42% {
    color: #6ded42;
  }
  56% {
    color: #4977f5;
  }
  70% {
    color: #493157;
  }
  84% {
    color: #d100ce;
  }
  100% {
    color: #fc493d;
    transform: rotateY(360deg);
  }
}
